In [124]:
import requests
from bs4 import BeautifulSoup as bs
from tqdm import tqdm

In [170]:
#네이버 금융 페이지 1~33페이지까지 보면서 종목 이름과 코드 리턴.
#코스피!!
def crawingAllKospiNameAndCode():
    code_result = []
    name_result = []
    for page in range(1, 34): 
        url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page='
        res = requests.get(url+str(page))
        html = res.text

        soup = bs(html, 'html.parser')
        title = soup.find_all('th')
        title = [x.text for x in title]

        summary = soup.find_all('tr')
        for i in range(7, len(summary)-1):
            a = summary[i].find_all('a')
            if(a != []):
                code = str(a[0]).index('code=')
                last = str(a[0])[code:].index('"')
                code_result.append(str(a[0])[code+5:code+last])
                name_result.append(a[0].text.replace(';', ''))#.replace(
                    #"-", "").replace("&", "").replace("(", "").replace(")", "").replace(" ", ""))
       # print(page)
        
    return code_result, name_result  # ([code_result], [name_result]) 형태로 리턴

#네이버 금융 페이지 1~33페이지까지 보면서 종목 이름과 코드 리턴.
#코스닥!!
def crawingAllKosdaqNameAndCode():
    code_result = []
    name_result = []
    for page in range(1, 32): 
        url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page='
        res = requests.get(url+str(page))
        html = res.text

        soup = bs(html, 'html.parser')
        title = soup.find_all('th')
        title = [x.text for x in title]

        summary = soup.find_all('tr')
        for i in range(7, len(summary)-1):
            a = summary[i].find_all('a')
            if(a != []):
                code = str(a[0]).index('code=')
                last = str(a[0])[code:].index('"')
                code_result.append(str(a[0])[code+5:code+last])
                name_result.append(a[0].text.replace(';', ''))
                  #  "-", "").replace("&", "").replace("(", "").replace(")", "").replace(" ", ""))
        #print(page)
    return code_result, name_result  # ([code_result], [name_result]) 형태로 리턴

In [171]:
allKospiList = crawingAllKospiNameAndCode()
allKosdaqList = crawingAllKosdaqNameAndCode()
#잘 들어감. 시가총액 순위로

In [173]:
def crawingCostChange(kospiOrKosdaqList):
    err = []
    for stock in tqdm(range(len(kospiOrKosdaqList[0]))):
        url = 'https://finance.naver.com/item/main.nhn?code=' + str(kospiOrKosdaqList[0][stock])
        res = requests.get(url).text
        soup = bs(res, 'html.parser')
        tds = soup.find_all('td')
        temp = [410, 396, 382, 368]
        if len(tds) not in temp: #정상적인 얘들
            err.append([stock, kospiOrKosdaqList[1][stock]])
        else: #이제 정보 수집
            #32 ~ 56이 최근 6영업일 간 종가, 전일비, 외국인, 기관
            #57 ~ 216 기업실적분석표
            #217 ~ 286 동일업종 비교표
            #매출액, 영업이익, 당기순이익, .... 57부터 10개씩.
            #EPS시작 147, PER시작 157, PBR시작 177
            
            
    return err

In [144]:
res = requests.get('https://finance.naver.com/item/main.nhn?code=017670')
res = res.text
soup = bs(res, 'html.parser')
tds = soup.find_all('td')
tds

[<td class="first">
 <span class="sptxt sp_txt2">전일</span>
 <em>
 <span class="blind">294,500</span>
 <span class="no2">2</span><span class="no9">9</span><span class="no4">4</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td>
 <span class="sptxt sp_txt4">고가</span>
 <em class="no_up">
 <span class="blind">297,000</span><span class="no2">2</span><span class="no9">9</span><span class="no7">7</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt6">(상한가</span>
 <em class="no_cha">
 <span class="blind">382,500</span><span class="no3">3</span><span class="no8">8</span><span class="no2">2</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt8">)</span>
 </td>,
 <td>
 <span class="sptxt sp_txt9">거래량</span>
 <em>
 <span class="blind">247,475</span>
 <span class="no2">2</span><span class="no4">4</span><span class="no7">7</span><span class="shim">,</span><span class="no4">4</span><span class="no7">7</span><span class="no5">5</span>
 </em>
 </td>,
 <td class="first">
 <span class="sptxt sp_txt3">시가</span>
 <em class="no_up">
 <span class="blind">295,000</span><span class="no2">2</span><span class="no9">9</span><span class="no5">5</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td>
 <span class="sptxt sp_txt5">저가</span>
 <em class="no_down">
 <span class="blind">290,000</span><span class="no2">2</span><span class="no9">9</span><span class="no0">0</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt7">(하한가</span>
 <em class="no_cha">
 <span class="no2">2</span><span class="no0">0</span><span class="no6">6</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt8">)</span>
 </td>,
 <td>
 <span class="sptxt sp_txt10">거래대금</span>
 <em>
 <span class="blind">72,291</span>
 <span class="no7">7</span><span class="no2">2</span><span class="shim">,</span><span class="no2">2</span><span class="no9">9</span><span class="no1">1</span>
 </em>
 <span class="sptxt sp_txt11">백만</span>
 </td>,
 <td class="left"><strong>외국계추정합</strong></td>,
 <td>
 <em class="f_down">61,111</em>
 </td>,
 <td class="left">
 <em class="f_down">
 				-11,125
 				</em>
 </td>,
 <td>
 <em class="f_up">49,986</em>
 </td>,
 <td class="space"></td>,
 <td class="left"><span class="f_down">제이피모간</span></td>,
 <td><em class="f_down">25,462</em></td>,
 <td class="left">미래에셋대우</td>,
 <td><em>36,819</em></td>,
 <td class="left"><span class="f_down">모건스탠리</span></td>,
 <td><em class="f_down">25,158</em></td>,
 <td class="left">한국증권</td>,
 <td><em>21,880</em></td>,
 <td class="left">NH투자증권</td>,
 <td><em>22,876</em></td>,
 <td class="left">NH투자증권</td>,
 <td><em>21,158</em></td>,
 <td class="left">미래에셋대우</td>,
 <td><em>21,309</em></td>,
 <td class="left"><span class="f_up">모건스탠리</span></td>,
 <td><em class="f_up">19,239</em></td>,
 <td class="left">신한금융투자</td>,
 <td><em>20,938</em></td>,
 <td class="left">삼성</td>,
 <td><em>17,136</em></td>,
 <td class="space"></td>,
 <td><em>294,500</em></td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				2,000
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+18,681
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-15,648
 				</em>
 </td>,
 <td><em>292,500</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				13,500
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-145,952
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+27,204
 				</em>
 </td>,
 <td><em>306,000</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				6,500
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+7,266
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-31,411
 				</em>
 </td>,
 <td><em>312,500</em></td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				19,000
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+255,446
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-35,795
 				</em>
 </td>,
 <td><em>293,500</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				9,000
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-40,278
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-72,774
 				</em>
 </td>,
 <td><em>302,500</em></td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				500
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+18,567
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-22,205
 				</em>
 </td>,
 <td class="space2"></td>,
 <td class="">



 				168,740


 										</td>,
 <td class="">



 				177,407


 										</td>,
 <td class="">



 				186,247


 										</td>,
 <td class=" t_line cell_strong">



 				195,219


 										</td>,
 <td class="">



 				44,504


 										</td>,
 <td class="">



 				46,028


 										</td>,
 <td class="">



 				47,308


 										</td>,
 <td class="">



 				48,406


 										</td>,
 <td class="">



 				47,805


 										</td>,
 <td class=" last cell_strong">



 				48,339


 										</td>,
 <td class="">



 				12,018


 										</td>,
 <td class="">



 				11,082


 										</td>,
 <td class="">



 				13,493


 										</td>,
 <td class=" t_line cell_strong">



 				15,268


 										</td>,
 <td class="">



 				3,020


 										</td>,
 <td class="">



 				3,595


 										</td>,
 <td class="">



 				3,615


 										</td>,
 <td class="">



 				3,263


 										</td>,
 <td class="">



 				3,888


 										</td>,
 <td class=" last cell_strong">



 				4,053


 										</td>,
 <td class="">



 				31,320


 										</td>,
 <td class="">



 				8,607


 										</td>,
 <td class="">



 				15,005


 										</td>,
 <td class=" t_line cell_strong">



 				25,845


 										</td>,
 <td class="">



 				3,068


 										</td>,
 <td class="">



 				4,322


 										</td>,
 <td class="">



 				3,957


 										</td>,
 <td class="">



 				3,659


 										</td>,
 <td class="">



 				5,720


 										</td>,
 <td class=" last cell_strong">



 				5,375


 										</td>,
 <td class="">



 				7.12


 										</td>,
 <td class="">



 				6.25


 										</td>,
 <td class="">



 				7.25


 										</td>,
 <td class=" t_line cell_strong">



 				7.82


 										</td>,
 <td class="">



 				6.79


 										</td>,
 <td class="">



 				7.81


 										</td>,
 <td class="">



 				7.64


 										</td>,
 <td class="">



 				6.74


 										</td>,
 <td class="">



 				8.13


 										</td>,
 <td class=" last cell_strong">



 				8.38


 										</td>,
 <td class="">



 				18.56


 										</td>,
 <td class="">



 				4.85


 										</td>,
 <td class="">



 				8.06


 										</td>,
 <td class=" t_line cell_strong">



 				13.24


 										</td>,
 <td class="">



 				6.89


 										</td>,
 <td class="">



 				9.39


 										</td>,
 <td class="">



 				8.36


 										</td>,
 <td class="">



 				7.56


 										</td>,
 <td class="">



 				11.96


 										</td>,
 <td class=" last cell_strong">



 				11.12


 										</td>,
 <td class="">



 				15.52


 										</td>,
 <td class="">



 				3.91


 										</td>,
 <td class="">



 				6.44


 										</td>,
 <td class=" t_line cell_strong">



 				10.36


 										</td>,
 <td class="">



 				3.65


 										</td>,
 <td class="">



 				4.27


 										</td>,
 <td class="">



 				4.71


 										</td>,
 <td class="">



 				6.44


 										</td>,
 <td class="">



 				7.53


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				89.58


 										</td>,
 <td class="">



 				98.11


 										</td>,
 <td class="">



 				96.37


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				96.56


 										</td>,
 <td class="">



 				91.36


 										</td>,
 <td class="">



 				91.83


 										</td>,
 <td class="">



 				96.37


 										</td>,
 <td class="">



 				94.40


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				107.86


 										</td>,
 <td class="">



 				97.19


 										</td>,
 <td class="">



 				102.14


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				100.96


 										</td>,
 <td class="">



 				105.87


 										</td>,
 <td class="">



 				111.38


 										</td>,
 <td class="">



 				102.14


 										</td>,
 <td class="">



 				103.55


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				56,140.21


 										</td>,
 <td class="">



 				56,328.70


 										</td>,
 <td class="">



 				58,016.08


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				55,502.23


 										</td>,
 <td class="">



 				56,454.07


 										</td>,
 <td class="">



 				57,150.93


 										</td>,
 <td class="">



 				58,016.08


 										</td>,
 <td class="">



 				57,778.41


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				38,738


 										</td>,
 <td class="">



 				11,006


 										</td>,
 <td class="">



 				18,631


 										</td>,
 <td class=" t_line cell_strong">



 				33,974


 										</td>,
 <td class="">



 				3,832


 										</td>,
 <td class="">



 				5,291


 										</td>,
 <td class="">



 				4,792


 										</td>,
 <td class="">



 				4,716


 										</td>,
 <td class="">



 				6,914


 										</td>,
 <td class=" last cell_strong">



 				6,982


 										</td>,
 <td class="">



 				6.96


 										</td>,
 <td class="">



 				21.62


 										</td>,
 <td class="">



 				12.77


 										</td>,
 <td class=" t_line cell_strong">



 				8.67


 										</td>,
 <td class="">



 				17.45


 										</td>,
 <td class="">



 				17.34


 										</td>,
 <td class="">



 				17.55


 										</td>,
 <td class="">



 				12.77


 										</td>,
 <td class="">



 				12.67


 										</td>,
 <td class=" last cell_strong">



 				43.75


 										</td>,
 <td class="">



 				312,660


 										</td>,
 <td class="">



 				313,800


 										</td>,
 <td class="">



 				332,887


 										</td>,
 <td class=" t_line cell_strong">



 				358,007


 										</td>,
 <td class="">



 				310,286


 										</td>,
 <td class="">



 				321,272


 										</td>,
 <td class="">



 				327,560


 										</td>,
 <td class="">



 				332,887


 										</td>,
 <td class="">



 				335,822


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				0.86


 										</td>,
 <td class="">



 				0.76


 										</td>,
 <td class="">



 				0.71


 										</td>,
 <td class=" t_line cell_strong">



 				0.82


 										</td>,
 <td class="">



 				0.57


 										</td>,
 <td class="">



 				0.66


 										</td>,
 <td class="">



 				0.73


 										</td>,
 <td class="">



 				0.71


 										</td>,
 <td class="">



 				0.82


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">


 				10,000


 										</td>,
 <td class="">


 				10,000


 										</td>,
 <td class="">


 				10,000


 										</td>,
 <td class=" t_line cell_strong">


 				10,459


 										</td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td class="">


 				3.71


 										</td>,
 <td class="">


 				4.20


 										</td>,
 <td class="">


 				4.20


 										</td>,
 <td class="no_data 2 t_line cell_strong">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td class="">


 				22.94


 										</td>,
 <td class="">


 				82.15


 										</td>,
 <td class="">


 				47.53


 										</td>,
 <td class="no_data 2 t_line cell_strong">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td>290,000</td>,
 <td>13,900</td>,
 <td>3,640</td>,
 <td>3,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				4,500
 				</em>
 </td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				450
 				</em>
 </td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				240
 				</em>
 </td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				115
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-1.53%
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-3.14%
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-6.19%
 				</em>
 </td>,
 <td>
 <em class="f_up"><span>상향</span>
 				+3.99%
 				</em>
 </td>,
 <td>208,974</td>,
 <td>60,688</td>,
 <td>1,924</td>,
 <td>728</td>,
 <td>95.35</td>,
 <td>67.06</td>,
 <td>.91</td>,
 <td>3.69</td>,
 <td>47,805</td>,
 <td>34,168</td>,
 <td>177</td>,
 <td>8</td>,
 <td>3,888</td>,
 <td>2,756</td>,
 <td>1</td>,
 <td>4</td>,
 <td>3,888</td>,
 <td>2,756</td>,
 <td>1</td>,
 <td>4</td>,
 <td>19.16</td>,
 <td>57.07</td>,
 <td>-96.38</td>,
 <td>20.05</td>,
 <td>5,720</td>,
 <td>2,009</td>,
 <td>1</td>,
 <td>3</td>,
 <td>6,913.87</td>,
 <td>449.74</td>,
 <td>2.14</td>,
 <td>13.12</td>,
 <td>7.53</td>,
 <td>7.18</td>,
 <td>4.42</td>,
 <td>2.91</td>,
 <td>13.36</td>,
 <td>11.71</td>,
 <td>63.86</td>,
 <td>166.67</td>,
 <td>.86</td>,
 <td>.82</td>,
 <td>2.43</td>,
 <td>4.81</td>,
 <td><em id="_market_sum">






 										20조

 											8,974


 								</em>억원</td>,
 <td>코스피 <em>22</em>위</td>,
 <td><em>72,060,143</em></td>,
 <td>
 <em>500</em>원
 									<span class="bar">l</span>
 <em>1</em>주
 								</td>,
 <td><em>35,309,470</em></td>,
 <td><em>33,667,084</em></td>,
 <td><em>95.35%</em></td>,
 <td style="width:115px">
 <span class="f_up"><em>4.00</em>매수</span>
 <span class="bar">l</span>
 <em>396,667</em>
 </td>,
 <td>
 <em>339,500</em>
 <span class="bar">l</span>
 <em>213,000</em>
 </td>,
 <td>
 <em id="_per">13.36</em>배

 									<span class="bar">l</span>
 <em id="_eps">21,712</em>원

 	 							</td>,
 <td>
 <em id="_cns_per">9.00</em>배

 									<span class="bar">l</span>
 <em id="_cns_eps">33,974</em>원

 								</td>,
 <td>
 <em id="_pbr">0.86</em>배

 									<span class="bar">l</span>
 <em>335,822</em>원

 								</td>,
 <td>
 <em id="_dvr">3.45</em>%

 								</td>,
 <td>
 <em>12.20</em>배

 								</td>,
 <td class="f_down"><em>
 				-1.90%
 				</em></td>,
 <td class="space" colspan="3"></td>,
 <td>


 					567

 				</td>,
 <td>


 					295,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					256

 				</td>,
 <td>


 					294,500

 				</td>,
 <td class="td_r"></td>,
 <td>


 					140

 				</td>,
 <td>


 					294,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					567

 				</td>,
 <td>


 					293,500

 				</td>,
 <td class="td_r"></td>,
 <td>


 					1,278

 				</td>,
 <td>


 					293,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					1,020

 				</td>,
 <td>


 					292,500

 				</td>,
 <td class="td_r"></td>,
 <td>


 					1,711

 				</td>,
 <td>


 					292,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					1,681

 				</td>,
 <td>


 					291,500

 				</td>,
 <td class="td_r"></td>,
 <td>


 					1,270

 				</td>,
 <td>


 					291,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					12,941

 				</td>,
 <td>


 					290,500

 				</td>,
 <td class="td_r"></td>,
 <td class="line_dot" colspan="3"></td>,
 <td></td>,
 <td>


 					290,000

 				</td>,
 <td class="td_r">


 					5,234

 				</td>,
 <td></td>,
 <td>


 					289,500

 				</td>,
 <td class="td_r">


 					3,285

 				</td>,
 <td></td>,
 <td>


 					289,000

 				</td>,
 <td class="td_r">


 					5,172

 				</td>,
 <td></td>,
 <td>


 					288,500

 				</td>,
 <td class="td_r">


 					4,278

 				</td>,
 <td></td>,
 <td>


 					288,000

 				</td>,
 <td class="td_r">


 					2,477

 				</td>,
 <td></td>,
 <td>


 					287,500

 				</td>,
 <td class="td_r">


 					1,333

 				</td>,
 <td></td>,
 <td>


 					287,000

 				</td>,
 <td class="td_r">


 					1,760

 				</td>,
 <td></td>,
 <td>


 					286,500

 				</td>,
 <td class="td_r">


 					626

 				</td>,
 <td></td>,
 <td>


 					286,000

 				</td>,
 <td class="td_r">


 					759

 				</td>,
 <td></td>,
 <td>


 					285,500

 				</td>,
 <td class="td_r">


 					522

 				</td>,
 <td class="space" colspan="3"></td>,
 <td class="f_down">


 						21,431

 				</td>,
 <td>잔량합계</td>,
 <td class="f_up">


 						25,446

 				</td>,
 <td>73,100</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				800
 				</em>
 </td>,
 <td>92,000</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				7,500
 				</em>
 </td>,
 <td>335,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				14,500
 				</em>
 </td>,
 <td>492,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				23,500
 				</em>
 </td>,
 <td>38,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				2,850
 				</em>
 </td>,
 <td class="line" colspan="3"></td>,
 <td>55,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				2,000
 				</em>
 </td>,
 <td>102,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,500
 				</em>
 </td>,
 <td>146,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				1,000
 				</em>
 </td>,
 <td>853,000</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				65,000
 				</em>
 </td>,
 <td>206,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				6,000
 				</em>
 </td>,
 <td>65,000</td>,
 <td>
 <em class="f_up up_arrow"><span>상한가</span>
 				15,000
 				</em>
 </td>,
 <td>122,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				19,400
 				</em>
 </td>,
 <td>19,300</td>,
 <td>
 <em class="f_up up_arrow"><span>상한가</span>
 				4,450
 				</em>
 </td>,
 <td>6,260</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				440
 				</em>
 </td>,
 <td>17,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,000
 				</em>
 </td>,
 <td class="line" colspan="3"></td>,
 <td>67,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				4,800
 				</em>
 </td>,
 <td>5,750</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				755
 				</em>
 </td>,
 <td>243,400</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				13,700
 				</em>
 </td>,
 <td>27,750</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,250
 				</em>
 </td>,
 <td>311,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				500
 				</em>
 </td>]

In [145]:
len(tds)

396

In [146]:
res = requests.get('https://finance.naver.com/item/main.nhn?code=005930')
res = res.text
soup = bs(res, 'html.parser')
tds2 = soup.find_all('td')
tds2

[<td class="first">
 <span class="sptxt sp_txt2">전일</span>
 <em>
 <span class="blind">73,900</span>
 <span class="no7">7</span><span class="no3">3</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td>
 <span class="sptxt sp_txt4">고가</span>
 <em class="no_up">
 <span class="blind">74,400</span><span class="no7">7</span><span class="no4">4</span><span class="shim">,</span><span class="no4">4</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt6">(상한가</span>
 <em class="no_cha">
 <span class="blind">96,000</span><span class="no9">9</span><span class="no6">6</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt8">)</span>
 </td>,
 <td>
 <span class="sptxt sp_txt9">거래량</span>
 <em>
 <span class="blind">21,915,870</span>
 <span class="no2">2</span><span class="no1">1</span><span class="shim">,</span><span class="no9">9</span><span class="no1">1</span><span class="no5">5</span><span class="shim">,</span><span class="no8">8</span><span class="no7">7</span><span class="no0">0</span>
 </em>
 </td>,
 <td class="first">
 <span class="sptxt sp_txt3">시가</span>
 <em class="no_down">
 <span class="blind">73,500</span><span class="no7">7</span><span class="no3">3</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td>
 <span class="sptxt sp_txt5">저가</span>
 <em class="no_down">
 <span class="blind">73,100</span><span class="no7">7</span><span class="no3">3</span><span class="shim">,</span><span class="no1">1</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt7">(하한가</span>
 <em class="no_cha">
 <span class="no5">5</span><span class="no1">1</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="sptxt sp_txt8">)</span>
 </td>,
 <td>
 <span class="sptxt sp_txt10">거래대금</span>
 <em>
 <span class="blind">1,612,585</span>
 <span class="no1">1</span><span class="shim">,</span><span class="no6">6</span><span class="no1">1</span><span class="no2">2</span><span class="shim">,</span><span class="no5">5</span><span class="no8">8</span><span class="no5">5</span>
 </em>
 <span class="sptxt sp_txt11">백만</span>
 </td>,
 <td class="left"><strong>외국계추정합</strong></td>,
 <td>
 <em class="f_down">2,942,382</em>
 </td>,
 <td class="left">
 <em class="f_down">
 				-2,090,593
 				</em>
 </td>,
 <td>
 <em class="f_up">851,789</em>
 </td>,
 <td class="space"></td>,
 <td class="left">한화</td>,
 <td><em>2,785,597</em></td>,
 <td class="left">한화</td>,
 <td><em>2,840,297</em></td>,
 <td class="left">이베스트</td>,
 <td><em>2,118,764</em></td>,
 <td class="left">이베스트</td>,
 <td><em>2,160,244</em></td>,
 <td class="left">삼성</td>,
 <td><em>1,708,780</em></td>,
 <td class="left">NH투자증권</td>,
 <td><em>2,112,357</em></td>,
 <td class="left">키움증권</td>,
 <td><em>1,652,285</em></td>,
 <td class="left">키움증권</td>,
 <td><em>2,078,763</em></td>,
 <td class="left"><span class="f_down">제이피모간</span></td>,
 <td><em class="f_down">1,445,751</em></td>,
 <td class="left">삼성</td>,
 <td><em>1,630,090</em></td>,
 <td class="space"></td>,
 <td><em>73,900</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				300
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-9,518,955
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+1,649,037
 				</em>
 </td>,
 <td><em>74,200</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				200
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-6,207,502
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-449,658
 				</em>
 </td>,
 <td><em>74,400</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				2,600
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-31,554,308
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-1,696,166
 				</em>
 </td>,
 <td><em>77,000</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,500
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-22,085,434
 				</em>
 </td>,
 <td>
 <em class="f_up">
 				+576,169
 				</em>
 </td>,
 <td><em>78,500</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,700
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-13,336,005
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-1,496,008
 				</em>
 </td>,
 <td><em>80,200</em></td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,300
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-4,483,111
 				</em>
 </td>,
 <td>
 <em class="f_down">
 				-990,164
 				</em>
 </td>,
 <td class="space2"></td>,
 <td class="">



 				2,437,714


 										</td>,
 <td class="">



 				2,304,009


 										</td>,
 <td class="">



 				2,368,070


 										</td>,
 <td class=" t_line cell_strong">



 				2,751,982


 										</td>,
 <td class="">



 				553,252


 										</td>,
 <td class="">



 				529,661


 										</td>,
 <td class="">



 				669,642


 										</td>,
 <td class="">



 				615,515


 										</td>,
 <td class="">



 				653,885


 										</td>,
 <td class=" last cell_strong">



 				612,813


 										</td>,
 <td class="">



 				588,867


 										</td>,
 <td class="">



 				277,685


 										</td>,
 <td class="">



 				359,939


 										</td>,
 <td class=" t_line cell_strong">



 				531,135


 										</td>,
 <td class="">



 				64,473


 										</td>,
 <td class="">



 				81,463


 										</td>,
 <td class="">



 				123,532


 										</td>,
 <td class="">



 				90,470


 										</td>,
 <td class="">



 				93,829


 										</td>,
 <td class=" last cell_strong">



 				109,741


 										</td>,
 <td class="">



 				443,449


 										</td>,
 <td class="">



 				217,389


 										</td>,
 <td class="">



 				264,078


 										</td>,
 <td class=" t_line cell_strong">



 				401,641


 										</td>,
 <td class="">



 				48,849


 										</td>,
 <td class="">



 				55,551


 										</td>,
 <td class="">



 				93,607


 										</td>,
 <td class="">



 				66,071


 										</td>,
 <td class="">



 				71,417


 										</td>,
 <td class=" last cell_strong">



 				84,950


 										</td>,
 <td class="">



 				24.16


 										</td>,
 <td class="">



 				12.05


 										</td>,
 <td class="">



 				15.20


 										</td>,
 <td class=" t_line cell_strong">



 				19.30


 										</td>,
 <td class="">



 				11.65


 										</td>,
 <td class="">



 				15.38


 										</td>,
 <td class="">



 				18.45


 										</td>,
 <td class="">



 				14.70


 										</td>,
 <td class="">



 				14.35


 										</td>,
 <td class=" last cell_strong">



 				17.91


 										</td>,
 <td class="">



 				18.19


 										</td>,
 <td class="">



 				9.44


 										</td>,
 <td class="">



 				11.15


 										</td>,
 <td class=" t_line cell_strong">



 				14.59


 										</td>,
 <td class="">



 				8.83


 										</td>,
 <td class="">



 				10.49


 										</td>,
 <td class="">



 				13.98


 										</td>,
 <td class="">



 				10.73


 										</td>,
 <td class="">



 				10.92


 										</td>,
 <td class=" last cell_strong">



 				13.86


 										</td>,
 <td class="">



 				19.63


 										</td>,
 <td class="">



 				8.69


 										</td>,
 <td class="">



 				9.98


 										</td>,
 <td class=" t_line cell_strong">



 				14.13


 										</td>,
 <td class="">



 				8.45


 										</td>,
 <td class="">



 				8.49


 										</td>,
 <td class="">



 				9.51


 										</td>,
 <td class="">



 				9.98


 										</td>,
 <td class="">



 				10.79


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				36.97


 										</td>,
 <td class="">



 				34.12


 										</td>,
 <td class="">



 				37.07


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				34.19


 										</td>,
 <td class="">



 				32.67


 										</td>,
 <td class="">



 				36.09


 										</td>,
 <td class="">



 				37.07


 										</td>,
 <td class="">



 				43.23


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				204.12


 										</td>,
 <td class="">



 				233.57


 										</td>,
 <td class="">



 				214.82


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				237.80


 										</td>,
 <td class="">



 				250.04


 										</td>,
 <td class="">



 				229.69


 										</td>,
 <td class="">



 				214.82


 										</td>,
 <td class="">



 				192.26


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				27,531.92


 										</td>,
 <td class="">



 				28,856.02


 										</td>,
 <td class="">



 				30,692.79


 										</td>,
 <td class=" null t_line cell_strong">


 										</td>,
 <td class="">



 				29,134.12


 										</td>,
 <td class="">



 				29,477.97


 										</td>,
 <td class="">



 				30,242.29


 										</td>,
 <td class="">



 				30,692.79


 										</td>,
 <td class="">



 				30,135.47


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				6,024


 										</td>,
 <td class="">



 				3,166


 										</td>,
 <td class="">



 				3,841


 										</td>,
 <td class=" t_line cell_strong">



 				5,775


 										</td>,
 <td class="">



 				720


 										</td>,
 <td class="">



 				808


 										</td>,
 <td class="">



 				1,364


 										</td>,
 <td class="">



 				949


 										</td>,
 <td class="">



 				1,044


 										</td>,
 <td class=" last cell_strong">



 				1,205


 										</td>,
 <td class="">



 				6.42


 										</td>,
 <td class="">



 				17.63


 										</td>,
 <td class="">



 				21.09


 										</td>,
 <td class=" t_line cell_strong">



 				12.80


 										</td>,
 <td class="">



 				15.24


 										</td>,
 <td class="">



 				16.52


 										</td>,
 <td class="">



 				15.89


 										</td>,
 <td class="">



 				21.09


 										</td>,
 <td class="">



 				19.54


 										</td>,
 <td class=" last cell_strong">



 				66.37


 										</td>,
 <td class="">



 				35,342


 										</td>,
 <td class="">



 				37,528


 										</td>,
 <td class="">



 				39,406


 										</td>,
 <td class=" t_line cell_strong">



 				42,308


 										</td>,
 <td class="">



 				38,053


 										</td>,
 <td class="">



 				38,534


 										</td>,
 <td class="">



 				39,446


 										</td>,
 <td class="">



 				39,406


 										</td>,
 <td class="">



 				39,126


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">



 				1.09


 										</td>,
 <td class="">



 				1.49


 										</td>,
 <td class="">



 				2.06


 										</td>,
 <td class=" t_line cell_strong">



 				1.75


 										</td>,
 <td class="">



 				1.25


 										</td>,
 <td class="">



 				1.37


 										</td>,
 <td class="">



 				1.48


 										</td>,
 <td class="">



 				2.06


 										</td>,
 <td class="">



 				2.08


 										</td>,
 <td class=" null last cell_strong">


 										</td>,
 <td class="">


 				1,416


 										</td>,
 <td class="">


 				1,416


 										</td>,
 <td class="">


 				2,994


 										</td>,
 <td class=" t_line cell_strong">


 				1,692


 										</td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td class="">


 				3.66


 										</td>,
 <td class="">


 				2.54


 										</td>,
 <td class="">


 				3.70


 										</td>,
 <td class="no_data 2 t_line cell_strong">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td class="">


 				21.92


 										</td>,
 <td class="">


 				44.73


 										</td>,
 <td class="">


 				77.95


 										</td>,
 <td class="no_data 2 t_line cell_strong">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2">
 </td>,
 <td class="no_data 2 last cell_strong">
 </td>,
 <td>73,100</td>,
 <td>102,500</td>,
 <td>175,600</td>,
 <td>57,000</td>,
 <td>288,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				800
 				</em>
 </td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,500
 				</em>
 </td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				1,100
 				</em>
 </td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				3,000
 				</em>
 </td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				11,500
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-1.08%
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-1.44%
 				</em>
 </td>,
 <td>
 <em class="f_up"><span>상향</span>
 				+0.63%
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-5.00%
 				</em>
 </td>,
 <td>
 <em class="f_down"><span>하향</span>
 				-3.84%
 				</em>
 </td>,
 <td>4,363,911</td>,
 <td>746,202</td>,
 <td>26,765</td>,
 <td>25,307</td>,
 <td>22,402</td>,
 <td>51.86</td>,
 <td>45.98</td>,
 <td>48.72</td>,
 <td>17.63</td>,
 <td>29.37</td>,
 <td>653,885</td>,
 <td>84,942</td>,
 <td>682</td>,
 <td>2,437</td>,
 <td>2,392</td>,
 <td>93,829</td>,
 <td>13,244</td>,
 <td>279</td>,
 <td>606</td>,
 <td>505</td>,
 <td>93,829</td>,
 <td>13,244</td>,
 <td>279</td>,
 <td>606</td>,
 <td>505</td>,
 <td>3.71</td>,
 <td>37.12</td>,
 <td>68.40</td>,
 <td>99.29</td>,
 <td>1.65</td>,
 <td>71,417</td>,
 <td>9,926</td>,
 <td>245</td>,
 <td>478</td>,
 <td>421</td>,
 <td>1,044.18</td>,
 <td>1,360.50</td>,
 <td>1,604.92</td>,
 <td>1,074.12</td>,
 <td>5,318.64</td>,
 <td>10.79</td>,
 <td>10.13</td>,
 <td>19.51</td>,
 <td>20.98</td>,
 <td class="no_data"></td>,
 <td>17.55</td>,
 <td>14.64</td>,
 <td>42.98</td>,
 <td>15.15</td>,
 <td>17.80</td>,
 <td>1.87</td>,
 <td>1.34</td>,
 <td>7.86</td>,
 <td>2.79</td>,
 <td>4.27</td>,
 <td><em id="_market_sum">






 										436조

 											3,911


 								</em>억원</td>,
 <td>코스피 <em>1</em>위</td>,
 <td><em>5,969,782,550</em></td>,
 <td>
 <em>100</em>원
 									<span class="bar">l</span>
 <em>1</em>주
 								</td>,
 <td><em>5,969,782,550</em></td>,
 <td><em>3,095,882,723</em></td>,
 <td><em>51.86%</em></td>,
 <td style="width:115px">
 <span class="f_up"><em>3.95</em>매수</span>
 <span class="bar">l</span>
 <em>101,476</em>
 </td>,
 <td>
 <em>96,800</em>
 <span class="bar">l</span>
 <em>54,000</em>
 </td>,
 <td>
 <em id="_per">17.55</em>배

 									<span class="bar">l</span>
 <em id="_eps">4,165</em>원

 	 							</td>,
 <td>
 <em id="_cns_per">13.00</em>배

 									<span class="bar">l</span>
 <em id="_cns_eps">5,775</em>원

 								</td>,
 <td>
 <em id="_pbr">1.87</em>배

 									<span class="bar">l</span>
 <em>39,126</em>원

 								</td>,
 <td>
 <em id="_dvr">4.10</em>%

 								</td>,
 <td>
 <em>15.48</em>배

 								</td>,
 <td class="f_down"><em>
 				-1.35%
 				</em></td>,
 <td class="space" colspan="3"></td>,
 <td>


 					25,013

 				</td>,
 <td>


 					74,100

 				</td>,
 <td class="td_r"></td>,
 <td>


 					91,464

 				</td>,
 <td>


 					74,000

 				</td>,
 <td class="td_r"></td>,
 <td>


 					61,977

 				</td>,
 <td>


 					73,900

 				</td>,
 <td class="td_r"></td>,
 <td>


 					62,994

 				</td>,
 <td>


 					73,800

 				</td>,
 <td class="td_r"></td>,
 <td>


 					69,171

 				</td>,
 <td>


 					73,700

 				</td>,
 <td class="td_r"></td>,
 <td>


 					144,714

 				</td>,
 <td>


 					73,600

 				</td>,
 <td class="td_r"></td>,
 <td>


 					154,421

 				</td>,
 <td>


 					73,500

 				</td>,
 <td class="td_r"></td>,
 <td>


 					217,313

 				</td>,
 <td>


 					73,400

 				</td>,
 <td class="td_r"></td>,
 <td>


 					159,615

 				</td>,
 <td>


 					73,300

 				</td>,
 <td class="td_r"></td>,
 <td>


 					236,399

 				</td>,
 <td>


 					73,200

 				</td>,
 <td class="td_r"></td>,
 <td class="line_dot" colspan="3"></td>,
 <td></td>,
 <td>


 					73,100

 				</td>,
 <td class="td_r">


 					443,427

 				</td>,
 <td></td>,
 <td>


 					73,000

 				</td>,
 <td class="td_r">


 					1,053,072

 				</td>,
 <td></td>,
 <td>


 					72,900

 				</td>,
 <td class="td_r">


 					206,223

 				</td>,
 <td></td>,
 <td>


 					72,800

 				</td>,
 <td class="td_r">


 					184,323

 				</td>,
 <td></td>,
 <td>


 					72,700

 				</td>,
 <td class="td_r">


 					102,135

 				</td>,
 <td></td>,
 <td>


 					72,600

 				</td>,
 <td class="td_r">


 					114,071

 				</td>,
 <td></td>,
 <td>


 					72,500

 				</td>,
 <td class="td_r">


 					242,488

 				</td>,
 <td></td>,
 <td>


 					72,400

 				</td>,
 <td class="td_r">


 					44,574

 				</td>,
 <td></td>,
 <td>


 					72,300

 				</td>,
 <td class="td_r">


 					25,632

 				</td>,
 <td></td>,
 <td>


 					72,200

 				</td>,
 <td class="td_r">


 					26,625

 				</td>,
 <td class="space" colspan="3"></td>,
 <td class="f_down">


 						1,223,081

 				</td>,
 <td>잔량합계</td>,
 <td class="f_up">


 						2,442,570

 				</td>,
 <td>73,100</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				800
 				</em>
 </td>,
 <td>92,000</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				7,500
 				</em>
 </td>,
 <td>335,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				14,500
 				</em>
 </td>,
 <td>492,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				23,500
 				</em>
 </td>,
 <td>38,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				2,850
 				</em>
 </td>,
 <td class="line" colspan="3"></td>,
 <td>55,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				2,000
 				</em>
 </td>,
 <td>102,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,500
 				</em>
 </td>,
 <td>146,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				1,000
 				</em>
 </td>,
 <td>853,000</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				65,000
 				</em>
 </td>,
 <td>206,500</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				6,000
 				</em>
 </td>,
 <td>65,000</td>,
 <td>
 <em class="f_up up_arrow"><span>상한가</span>
 				15,000
 				</em>
 </td>,
 <td>122,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				19,400
 				</em>
 </td>,
 <td>19,300</td>,
 <td>
 <em class="f_up up_arrow"><span>상한가</span>
 				4,450
 				</em>
 </td>,
 <td>6,260</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				440
 				</em>
 </td>,
 <td>17,000</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,000
 				</em>
 </td>,
 <td class="line" colspan="3"></td>,
 <td>67,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				4,800
 				</em>
 </td>,
 <td>5,750</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				755
 				</em>
 </td>,
 <td>243,400</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				13,700
 				</em>
 </td>,
 <td>27,750</td>,
 <td>
 <em class="f_down down"><span>하향</span>
 				1,250
 				</em>
 </td>,
 <td>311,500</td>,
 <td>
 <em class="f_up up"><span>상향</span>
 				500
 				</em>
 </td>]

In [147]:
len(tds2)

410

In [95]:
for i in range(len(tds)):
    #print(tds[i])
    if '84,500' in tds[i].text:
        print(i)
    if i == 56:
        break

0
32

In [100]:
for i in range(32, 56):
    print(tds[i].text.replace('\t', '').replace(' ' , '').replace('\n', ''))

84,500
하향2,900
+463,169
+104,494
87,400
상향10,800
+1,113,791
+583,120
76,600
상향2,800
+414,825
+567,303
73,800
하향600
+194,268
+313,832
74,400
상향3,000
+384,975
+876,676
71,400
하향7,100
+117,807
+880,121